<h1>ANGULAR Directives</h1>

<h2>Attribute directives</h2>
<ul>
  <li>Modify properties of the DOM.</li>
</ul>

<h3>ngClass</h3>
<ul>
  <li>Adds class to the DOM element.</li>
</ul>

<div class="example">
  <div class="box vertical">
    <div>
      <button class="success" (click)="highligt('green')">Sucess</button>
      <button class="danger" (click)="highligt('red')">Danger</button>
      <button class="info" (click)="highligt('blue')">Info</button>
      <p
        [ngClass]="{
          green: highligtColor === 'green',
          'red-color': highligtColor === 'red',
          blue: highligtColor === 'blue'
        }"
      >
        Click any button to highlight me!
      </p>
    </div>
  </div>
</div>

<h3>ngStyle</h3>
<ul>
  <li>Modify the style of the DOMelement.</li>
</ul>
<div class="example">
  <div class="box vertical">
    <button class="success" (click)="toggleStyle()">toggleStyle</button>
    <p
      [ngStyle]="{
        color: isStyleApplied === true ? 'white' : 'black',
        backgroundColor: isStyleApplied ? 'green' : 'white'
      }"
    >
      Click the button to highlight the style!
    </p>
  </div>
</div>
