.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .box {
    width: 65%;
    border: 1px solid black;
    padding: 1.25rem;
  }
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }

  p {
    margin-bottom: 0;
  }
}

.example + .example {
  margin-top: 2.5rem;
}

button + button {
  margin-top: 1rem;
}
button {
  color: white;
  cursor: pointer;
}
.success {
  background-color: green;
}
.danger {
  background-color: red;
}
