<h1>ANGULAR Directives</h1>

<div class="example">
  <div class="box">
    <div class="top">
      <div class="buttons">
        <button
          class="success"
          [ngClass]="{ 'active-btn': chosenNumber === 2 }"
          (click)="calculate(2)"
        >
          Numbers divisible by 2
        </button>
        <button
          class="success"
          [ngClass]="{ 'active-btn': chosenNumber === 3 }"
          (click)="calculate(3)"
        >
          Numbers divisible by 3
        </button>
        <button
          class="success"
          [ngClass]="{ 'active-btn': chosenNumber === 5 }"
          (click)="calculate(5)"
        >
          Numbers divisible by 5
        </button>
        <button
          class="success"
          [ngClass]="{ 'active-btn': chosenNumber === 10 }"
          (click)="calculate(10)"
        >
          Numbers divisible by 10
        </button>
        <button
          class="danger"
          [disabled]="isClearDisabled"
          (click)="calculate(1)"
        >
          Clear
        </button>
      </div>

      <div class="list">
        <div
          class="item"
          *ngFor="let number of numbers"
          [ngClass]="{
            highlight: number % chosenNumber === 0 && chosenNumber > 1
          }"
          [ngStyle]="{
            color:
              number % chosenNumber === 0 && chosenNumber > 1 ? 'red' : 'black'
          }"
        >
          {{ number }}
        </div>
      </div>
    </div>
    <p>Numbers highlighted above are divisible by {{ chosenNumber }}</p>
  </div>
</div>
